#sync {
	position: absolute;
	top: 15px;
	left: 15px;
	z-index: 100;
}

#explorer {
	width: 100%;
	height: 100%;
}

#panel {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;

	padding: 25px;

	color: #F5F5F5;
	background-color: #3D454D;
	border-top: 7px solid #485157;
	overflow-x: scroll;
}