<app-loading *ngIf="syncing"></app-loading>
<div #explorer id="explorer"></div>

<div id="panel" *ngIf="selectedBlock">
	<table border="0" cellpadding="5" cellspacing="5">
		<tr>
			<td>
				<button md-button (click)="showQRCode(selectedBlock)">
					<md-icon>link</md-icon> QRCode
				</button>
			</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td><strong>Hash</strong></td>
			<td>{{selectedBlock.hash}}</td>
		</tr>
		<tr>
			<td><strong>Data</strong></td>
			<td>{{selectedBlock.data}}</td>
		</tr>
		<tr>
			<td><strong>Data hash</strong></td>
			<td>{{selectedBlock.dataHash}}</td>
		</tr>
		<tr>
			<td><strong>Timestamp</strong></td>
			<td>{{selectedBlock.timestamp}}</td>
		</tr>
	</table>
</div>