<div id="particles-js"></div>

<app-loading *ngIf="!metrics"></app-loading>
<md-grid-list *ngIf="metrics" cols="2" rowHeight="300px">
	<md-grid-tile>
		<md-card>
			<md-card-header>
				<md-card-title>
					<h2>Blocks</h2>
				</md-card-title>
			</md-card-header>
			<md-card-content>
				2854
			</md-card-content>
		</md-card>
	</md-grid-tile>
	<md-grid-tile>
		<md-card>
			<md-card-header>
				<md-card-title>
					<h2>Forks</h2>
				</md-card-title>
			</md-card-header>
			<md-card-content>
				2
			</md-card-content>
		</md-card>
	</md-grid-tile>
	<md-grid-tile>
		<md-card>
			<md-card-header>
				<md-card-title>
					<h2>Peers</h2>
				</md-card-title>
			</md-card-header>
			<md-card-content>
				3
			</md-card-content>
		</md-card>
	</md-grid-tile>
</md-grid-list>
